body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a6136c7;
}

header {
  background-color: #0a6136c7;
  color: ivory;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color:ivory;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 30px;
  background-color:#0a6136c7;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0a6136c7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #0a6136c7;
  color: ivory;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
